<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div class="content-top " layout:fragment="product-top">
    <!--content top-->
    <div class="container">
        <div class="spec ">
            <h3>Academic</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <div class=" con-w3l" id="academic-category">

            <div class="clearfix"></div>
        </div>

    </div>

    <tr>
        <td style="width: 60px"></td>
        <td style="width: 60px"></td>
        <td style="width: 60px"></td>
        <td style="width: 60px"></td>
    </tr>

</div>


<th:block layout:fragment="add-scripts">
    <script th:src="@{/assets/js/page-categories.js}"></script>
    <script th:src="@{/assets/plugins/chart.js/Chart.min.js}"></script>


</th:block>


</html>