<!DOCTYPE html>
<html layout:decorate="~{base-company}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div class="content-top " layout:fragment="product-top">
SALAH
  <div class="clearfix"></div>

</div>

<!-- /.row -->
<th:block layout:fragment="add-scripts">
  <script th:src="@{/assets/plugins/chart.js/Chart.min.js}"></script>
  <script th:src="@{/assets/dist/js/demo.js}"></script>
  <script th:src="@{/assets/dist/js/pages/dashboard3.js}"></script>
  <script th:src="@{/assets/dist/js/home.js}"></script>
  <script>
    $("#add-to-cart").click(function () {
      $("#modal-cart").modal('show')})
  </script>
</th:block>

</html>