<!DOCTYPE html>
<html layout:decorate="~{baseaboutus}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login and Registration | The Prodemy Book Store</title>
</head>

<body>
<div class="content-top " layout:fragment="product-top">
    <!--content top-->
    <div class="container">
        <div class="login">
            <div class="main-agileits">
                <div class="form-w3agile">

                    <h3> User Login Page </h3>
                    <form th:action="@{/login}" method="post">

                        <!-- error message -->
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">Invalid username or password!
                            </div>
                        </div>

                        <div class="key">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <input type="text" value="username" id="username" name="username" onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = 'username';}" required="">
                            <div class="clearfix"></div>
                        </div>

                        <div class="key">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <input type="password" value="password" id="password" name="password"
                                   onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = 'password';}" required="">
                            <div class="clearfix"></div>
                        </div>
                        <input type="submit" value="Login" name="login-submit" id="login-submit"
                               class="form-control btn btn-primary"/>
                    </form>
                </div>
                <div class="forg">
						<span>New user? <a href="/" th:href="@{/registration}">Register
								here</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>